.card {

    padding: 40px 40px 40px 40px
}




.card_bel {
    background-image: url(../images/card/card-bel.webp);

}

.card_el {
    background-image: url(../images/card/card-el.webp);

    z-index: 1;
}

.card_kil {
    background-image: url(../images/card/card-kil.webp);

}

.card_image {
    position: relative;
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease .1s;
    cursor: pointer;


}

.card_image:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    content: "";
    background: linear-gradient(180deg, rgba(249, 249, 250, 0) 0%, rgba(249, 249, 250, 0.9) 100%);
    opacity: 0.6;
    z-index: -1;
    transition: .1s ease;

}

.card_image:hover::before {
    background: linear-gradient(180deg, rgba(86, 68, 153, 0.653) 6%, rgba(44, 138, 192, 0.549) 76%);
    opacity: 0.9;



}

.card_image:hover {
    transform: translate(0, -10px);

}

.card__text-country {
    margin: 0;
    padding-bottom: 137px;
    font-weight: normal;
    font-size: 16px;
    line-height: 115%;
}

.card__text-country:before {
    content: url(../images/svg/location.svg);
    padding-right: 5px;
}

.card__title {
    margin: 0;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 115%;
    z-index: 2;
}

.card__features {
    font-weight: normal;
    font-size: 18px;
    line-height: 115%;
}

.card__difficulty {
    font-weight: normal;
    font-size: 18px;
    line-height: 115%;
}

.card__wrapper-header {
    display: flex;
    justify-content: space-between;

}

.card__bookmark-img {
    width: 13px;
    height: 16px;
    margin: 0 auto;
    align-self: center;

}

.card__bookmark-button {
    padding: 0;
    display: flex;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    background: #bdbebe9b;
    border: none;
    transition: ease-in .1s;

}


.card__button-container {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
    padding-bottom: 140px;
}

.card__btn {
    padding: 0;
    display: flex;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    background: var(--gray);
    border: none;
    align-items: center;
    transition: ease-in .1s;
    box-shadow: 0px 1px 1px 1px rgba(17, 16, 16, 0.329);
    outline: none;
}

.card__btn:hover {
    background: #21b2c5;
}

.card__btn:active {
    background: #21b2c5;
    transform: scale(0.95);

}


.card__btn_next {

    margin-right: 25px;

}

.card__btn-img {
    width: 11px;
    height: 7px;
    margin-left: 4px;
    margin: 0 auto;

}

.card__img:active {
    background: #21b2c5;
    transform: scale(0.95);

}