.directions__topics {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid var(--border-form);
    align-items: center;
}



.directions__wrapper {
    max-width: 830px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.directions {
    background-image: url(../images/list-image.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 815px
}

.directions__item {
    margin: 0;
    padding-bottom: 8px;
    padding-top: 25px;

}

.directions__item_first {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: var(--gray);
}

.directions__item_main {
    color: var(--white);
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
}

.directions__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: var(--white);
    margin: 0 auto;
    padding-bottom: 21px;
    width: 243px;
}

.direction__wrapper-grid {
    margin-bottom: 58px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}