.feedback__wrapper {
    display: grid;
    grid-template-columns: 585px auto;
}

.feedback {
    background: var(--dark);


}

.feedback__image {
    width: 683px;
}

.feedback__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: var(--white);
    margin: 0;
    padding-bottom: 4px;
}




/* form */

.form {

    display: flex;

    flex-direction: column;


}

.form__fieldset {
    display: flex;
    flex-direction: column;
    max-width: 525px;
    border: none;

    margin: 0;
    padding: 0;
}




/* Input */

.form__input {
    margin: 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    height: 57px;
    background: inherit;
    color: var(--white);
    font-size: 20px;
}

.form__input::placeholder {
    line-height: 60px;
}

.form__input:last-of-type {
    margin-bottom: 45px;
}

.form__text {
    color: var(--white);
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    width: 80%;
    margin: 0;
    padding-top: 23px;
    padding-bottom: 55px;
}